<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=titulo%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="container">
    <div class="col-sm-4 offset-4">
        <h1><%=titulo%></h1>
        <form method="POST" action="/">
            <div class="form-group">
                <h5><label class="badge" for="nome">Nome</label></h5>
                <input type="text" name="nome" placeholder="Digite o nome" class="form-control"></br>
            </div>
            <div class="form-group">
                <h5><label class="badge" for="email">E-mail</label></h5>
                <input type="text" name="email" placeholder="Digite o email" class="form-control"></br>
            </div>
            <div>
                <h5><label class="badge" for="idade">Idade</label></h5>
                <input type="number" name="idade" placeholder="Digite a idade" class="form-control"></br>
            </div>
            <input type="submit" class="btn btn-success" value="Enviar">
            <button type="button" class="btn btn-primary" style="margin-left:10em" data-toggle="modal" data-target="#exampleModalLong">
                    Usuarios
            </button>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Usuarios</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <% if(usuarios.length > 0){ %>
                    <% usuarios.forEach(function(usuario){ %>            
                        <li class="list-group-item">
                            <h4><%= usuario.nome %></h4>
                            <!--<input type="hidden" id="id_usuario_<%= usuario._id %>"name="usuario" value="<%= usuario._id %>">-->
                            <input type="button" value="Editar" class="btn btn-info" onclick="editarClick('<%= usuario._id %>')">
                            <input type="submit" value="Deletar" class="btn btn-danger" onclick="deleteUsuario('<%= usuario._id %>')"></br>
                            <div id="formulario_edit_<%= usuario._id %>" class="container" style="display:none;margin-top:20px">
                                <div class="form-group">
                                    <h5><label class="badge">Nome </label></h5>
                                    <input type="text" id="edit_nome_<%= usuario._id %>" class="form-control" value ="<%= usuario.nome%>">
                                </div>
                                <div class="form-group">
                                    <h5><label class="badge">E-mail </label></h5>
                                    <input type="text" id="edit_email_<%= usuario._id %>" class="form-control" value ="<%= usuario.email%>">
                                </div>
                                <div class="form-group">
                                    <h5><label class="badge">Idade </label></h5>
                                    <input type="text" id="edit_idade_<%= usuario._id %>" class="form-control" value ="<%= usuario.idade%>">
                                </div>

                                <input type="submit" class="btn btn-success" onclick="saveEdit('<%= usuario._id %>')" value="Salvar">
                            </div>
                        </li>            
                    <% }) %>
                    <% } %>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../scripts/script.js"></script>

</body>
</html>